body{
margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;
overflow:hidden;
}

.sidebar{
position:fixed;
left:0;
top:0;
width:220px;
height:100vh;
background:#111827;
padding:20px;
z-index:10;
}

.sidebar button{
width:100%;
margin:6px 0;
padding:10px;
background:#1f2937;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

.rightPanel{
position:fixed;
right:0;
top:0;
width:220px;
height:100vh;
background:#111827;
padding:20px;
}

#world{
position:absolute;
left:220px;
right:220px;
top:0;
bottom:0;
background:#05070c;
overflow:hidden;
}

.photo{
position:absolute;
width:200px;
background:white;
padding:10px;
box-shadow:0 20px 50px rgba(0,0,0,.7);
cursor:grab;
z-index:5;
}

.photo img{
width:100%;
display:block;
}